body{
  padding: 0px;
  padding: 0px;
  margin: 0;
  background-color: rgb(245, 245, 245);
}


/* Header **/
header{
 background-color: rgb(51, 49, 49);
 padding: 10px;
 margin: 0px;
 color: aliceblue;
 padding-top: 30px;
 min-height: 30px;
 border-bottom: #e8491d 3px solid;
}


footer{
  background-color: orangered;
  padding: 30px;
  margin: 0px;
  text-align: center;
}

